*{
    margin: 0;
    padding:0;
    font-family: 'Vampiro One', cursive;

}
html{
    scroll-behavior: smooth;
}

.container{
    background-image: url("bg12.jpg");
    background-attachment: fixed;
    opacity: 0.8;
    z-index: -1;
    position: absolute;
    content: "";
    /* background-color:gray; */
    width: 100%;    
   max-width: 100%;
   height: 328px;
   opacity: 0.8;

}


.text{

/* background-color: red;  */
margin: 58px 132px;
height: 154px;
padding: 32px 261px;
/* display: flex; */
/* margin-top: 0; */
text-align: center;
padding-top: 55px;
font-size: 24px;
/* text-size-adjust: 33px; */
font-style: italic;
/* font: message-box; */
border: 15px solid green;
border-right: dashed;
border-radius: 45px;
border-left: hidden;
border-bottom-width: medium;
}
.text h1,p{
    color:wheat;
  
}

#navbar{
    position: fixed;
   display: flex;
   align-items: center;
    /* background-color:rgb(68, 131, 68); */
}

#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 6px 38px;
    border: 4px solid rgb(128, 0, 90);
    border-radius: 20px;
    border-color: turquoise;
    cursor: grab;
    margin: 10px 28px;
     background-color: brown; 
}
#navbar ul li a:hover{
    color: red;

}
#navbar ul li a:active{
    color:yellow;

}
#navbar ul li a:blank{
    color:purple;

}

/* section */
#section{
    width: 100%;
    background: url(bg12.jpg);
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.8;
    top: 363px;
    position: absolute;
    height: 28%;

}

    .section-container {
        display: flex;
        padding: 82px 361px;
        margin: 0px 4px;
    }

.col-3{
    width: 50%;
    }

    .txt{
        color: white;
        /* font-weight: 300; */
        text-align: center;
        border: 2px solid gold;
        border-radius: 10px;
        font-size: 17px;
    }

    /* contacts */
    .contact{
        background: url(bg12.jpg);
        background-size: cover;
        background-attachment: fixed;
        top: 90%;
        left: 25%;
        position: absolute;
        width: 50%;
        padding: 2px 2px;
        margin: 2px 2px;
        border: 10px solid darkred;
        height: 72%;
        border-radius: 40px;
    }
    .contact h1{
        text-align: center;
        color:wheat;
    }
    .form-group {
        text-align: center;
        background-color: lightgray;
        width: 50%;
        margin: auto;
        padding: 18px;
        opacity: .9;
        
    }
    .form-group input{
        padding: 2px 16px;
        margin: 5px 3px;
        font-size: 18px;
    }


    .foot{
        background:url("bg12.jpg");
        background-size: cover;
        background-attachment: fixed;
        padding: 10px 0px;
        text-align: center;
        margin: 2px;
        color: wheat;
    }
    #feed{
        background-color: aqua; 
        /* position: fixed; */
   display: flex;
    }
    .stick {
        background-color: gray;
        width: 5%;
        /* display: flex; */
        position: fixed;
        top: 18%;
        text-align: center;
    }
    .stick img{
        width: 86%;
        height: 65px;
        margin: 3px 2px;
        padding: 4px 3px;
        display: block;
    }
    
   
    /* phone */
    /* @media only screen and  (max-width:1430px){ */
        /* body{
            background-color: red;   
        } */
        /* navbar */
        #navbar{
                /* flex-direction: column; */
    display: block;
    /* flex-wrap: wrap; */
    width: 2px 3px;
    /* padding: 1px 1px; */
    height: 83px;
    /* margin: 2PX; */
    /* background-color: gainsboro; */
    width: 100%;
        }
       
        #navbar ul{
            flex-wrap: wrap-reverse;

        }
       
        .text {
            font-size: 20px;
            padding: 30px 1px;
            margin: 65px 34px;
            font-size: medium;
        }
       
        
        /*  */
        .col-3{
            width: 100%;
            position: relative;
            }
            /*  */
            .container {
                background-image: url(bg12.jpg);
                background-attachment: fixed;
                opacity: 0.8;
                z-index: -1;
                position: absolute;
                content: "";
                /* background-color: gray; */
                max-width: 100%;
                height: 360px;
                opacity: 0.8;
            }


            /*  */

            .section-container {
                /* display: flex; */
                
                padding: 24px 10px;
            }
            
            .form-group input {
                padding: 2px 0px;
                margin: 0px 0px;
                font-size: 18px;
                width: 100%;
            }
            /*  */
            .contact{
                top: 92%;
                height: auto;
                max-width: 100%;
            }
          

            .stick{
                width: 7%;
            }
            /* #foot {
                
                bottom: 0%;
                position: absolute;
            } */

           
/*  */
@media only screen and (device-width: 768px) {
    /* For general iPad layouts */
    .contact{
        top: 64%;
        height: auto;
    }
  }
  
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
    .contact{
        top: 64%;
        height: auto;
    }
  }
  
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
    .contact{
        top: 92%;
    }
  }
